{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <title>Change Password</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=7, IE=9" />
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">  
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
      <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">    
      <script type="text/javascript" src="{% static "js/jquery-1.12.4.js" %}"></script>  
<script>
    function UpdatePassword(){
      var voldPass = $("#oldPassword").val();
      var vnewPass = $("#newPassword").val();
      var vconfirmPass = $("#confirmPassword").val();
      if(voldPass == "" && vnewPass=="" && vconfirmPass =="")
      {
         alert("Plese enter Old and new Password deatils");
         $("#oldPassword").focus()
      }
      else if(voldPass == "")
      {
         alert("Plese enter Old Password.");
         $("#oldPassword").focus();
      }
      else if(vnewPass == "" )
      {
         alert("Plese enter New Password.")
         $("#newPassword").focus();
      }  
      else if(vconfirmPass == "" )
      {
         alert("Plese enter Confirm Password.")
         $("#confirmPassword").focus();
      }  
      let formData = new FormData();               
      formData.append("old_password", voldPass);
      formData.append("new_password", vnewPass);
      formData.append("confirm_password", vconfirmPass);
      $.ajax({
            type: 'POST',
            url: '/S100Verification/Validation/changepassword',            
            contentType: false,            
            processData: false,
            async: false,
            data: formData,            
            success: function (response) {                 
             
                  if (response != null && response != '') {
                    alert(response);
                  } else {
                        alert("Changepassword details are not updated" + response);
                        return false;
                  }
            }, error: function (xhr, status, error) {
                  alert(error);
                  return false; 
            },
            failure: function (xhr, status, failure) {
                  alert(failure);
                  return false;
            }
      });

}
</script>
<style>
  .footer {
      position: fixed;
      height: auto;
      bottom: 0;
      width: 100%;
   }
   .footer_color {
      background: #0f5c93;
   }
   .bt_clor{
      color: #fff;
      background-color: #0f5c93;
      border-color: #0f5c93;
   }
</style>
</head>
   <body>
      <div class="container-fluid">
         <div class="row" style="background:#0f5c93;">
            <div class="col-sm-12 nopadding">
               <h3 style="color:#fff; padding:10px; margin-bottom:0px; text-align: center;">S-100 V&amp;V Application</h3>
            </div>
         </div>
	      <div class="row m-5">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
               <div class="card" style="border:1px solid #0f5c93;">
                  <div class="card-header" style="background:#0f5c93; color:#fff;
				  font-size:23px; text-align:center;">Change Password</div>
                  <div class="card-body">
                     <div class="card-body">
                        <div action="#"> 
                           <div class="form-group">
                              <label style="font-weight:bold;">Old Password:</label>
                              <input type="text" class="form-control" id="oldPassword" placeholder="Enter Old Password" name="name">
                           </div>
                           <div class="form-group">
                              <label style="font-weight:bold;">New Password:</label>
                              <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" name="pswd">
                           </div>
						   <div class="form-group">
                              <label style="font-weight:bold;">Confirm New Password:</label>
                              <input type="password" class="form-control" id="confirmPassword" placeholder="Enter Confirm New Password" name="pswd">
                           </div>
                         <button type="submit" class="btn btn-primary btn-block bt_clor"
						   style="font-size:20px;" onClick="UpdatePassword();">Change Password</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-3"></div>
         </div>
		 <div class="row">
		 <div class="footer">
         <div class="col-sm-12 footer_color" style="padding:10px;">
            <div class="text-center" style="color:#fff; font-size:16+px;"> © Copyright 2021 by  
               <a href="http://www.iictechnologies.com/"
                  style="color:#fff;" target="_blank">
               IIC Technologies.</a>  All Rights Reserved.
            </div>
         </div>
      </div>
	  </div>
      </div>      
      <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
   </body>
</html>